{% extends 'flatpages/default.html' %}

{% block headnews %}
{% autoescape off %}
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">{{ promotion.title }}</h1>
      <p class="lead my-3">{{ promotion.text|truncatewords:14 }}</p>
      <p class="lead mb-0"><a href="{% url 'announce' pk=promotion.id %}" class="text-white fw-bold">Читать полностью</a></p>
    </div>
    </div>
{% endautoescape %}
{% endblock headnews %}

{% block content %}
announcement_list.html
<a href="{% url 'create' %}" class="btn btn-primary btn-lg">Создать объявление</a>
{% autoescape off %}
<h3 class="pb-4 mb-4 fst-italic border-bottom">Последние объявления</h3>
<article class="blog-post">
    {% for announce in list %}
        <h2 class="blog-post-title"><a href="{% url 'announce' pk=announce.id %}">{{ announce.title }}</a></h2>
        <p class="blog-post-meta">{{ announce.published_date }} | {{ announce.get_category_display }}</p>
        <p>{{ announce.preview }}</p>
    {% endfor %}
</article>
Страницы:
{% if page_obj.has_previous %}
    <a href="?page=1">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
{% endif %}

{# Информация о текущей странице #}
{{ page_obj.number }}

{# Информация о следующих страницах #}
{% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
    {% if paginator.num_pages != page_obj.next_page_number %}
        ...
        <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
    {% endif %}
{% endif %}
{% endautoescape %}
{% endblock content %}



