{% extends 'flatpages/default.html' %}

{% block cat %}
{% endblock cat %}

{% block headnews %}
{% endblock headnews %}
<!-- Отключение экранирования, чтобы не выводились html теги вместо видео -->

{% block content %}
announce.html
{% autoescape off %}
Автор: {{ announce.author.username }}
Category: {{ announce.category|safe }}
<p>Announce: {{ announce.text }}
<hr>


<!--TODO сделать кнопку доступной только пользователю и только если он не откликнулся-->
{% if request.user.is_authenticated %}
    {% if not responses %}
    <p class="test-center" ><a href="{% url 'add_response' announce.id %}" class="btn btn-primary btn-lg">Откликнуться</a></p>
    {% else %}
    Вы откликнулись на объявление
    <p class="test-center" ><a href="{% url 'remove_response' announce.id %}" class="btn btn-primary btn-lg">Убрать отклик</a></p>
    {% endif %}
{% endif %}

{% endautoescape %}
{% endblock content %}


