{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block cat %}
{% endblock cat %}

{% block headnews %}
{% endblock headnews %}

{% block content %}
announce.html
<!-- Отключение экранирования, чтобы не выводились html теги вместо видео -->
{% autoescape off %}
Автор: {{ announce.author.username }}
Category: {{ announce.get_category_display }}
<p>Announce: {{ announce.text }}
<hr>
<!--проверяем, что на объявление можно отправлять отклик-->
{% if announce.opportunity_to_response %}
    Уже откликнулось: {{ all_responses|slice_qs:announce|length }}
    <!--отклик доступен только зарегистрированному пользователю и недоступен самому автору объявления -->
    {% if request.user.is_authenticated and announce.author != request.user %}
        {% if not sent_response %}
        <p class="test-center" ><a href="{% url 'add_response' announce.id %}" class="btn btn-primary btn-lg">Откликнуться</a></p>
        {% else %}
        Вы откликнулись на объявление
    <!--TODO удаление отклика на время тестов, по завершении убрать-->
        <p class="test-center" ><a href="{% url 'remove_response' announce.id %}" class="btn btn-primary btn-lg">Убрать отклик</a></p>
        {% endif %}
    {% endif %}
{% endif %}

{% endautoescape %}
{% endblock content %}


