{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block cat %}
{% endblock cat %}

{% block headnews %}
{% endblock headnews %}

{% block content %}
my_announcement.html
<p><a href="{% url 'responses' %}">Все отклики</a></p>
Список обьявлений
{% for announce in my_announce %}
<p>Объявление: {{ announce }}  |  Отклики : {{ response|slice_qs:announce|length }}
    {% if response|slice_qs:announce|length > 0 %}
        <a href="{% url 'responses' %}?announce_title={{ announce.title }}">Просмотреть</a>
    {% endif %}
{% endfor %}


{% endblock content %}