{% extends 'flatpages/default.html' %}

{% load custom_tags %}

{% block cat %}
{% endblock cat %}

{% block headnews %}
{% endblock headnews %}


{% block content %}

my_responses.html
<form action="" method="get">
    {{ filterset.form.as_p }}
    <input type="submit" value="Найти" />
</form>
<table>
    <tr>
        <th>Отклик</th>
        <th>Объявление</th>
        <th>Статус</th>
    </tr>
{% for response in my_responses %}
    <tr>
        <th>{{ response }} </th>
        <th>
            <a href ="{% url 'announce' pk=response.response_announcement.id %}">{{ response.response_announcement }}</a>
        </th>
        <th>
            {% if response.accepted == 1 %}
                <div class="btn-success">Принято</div>
            {% elif response.accepted == 2 %}
                <div class="btn-dark">Отклонен</div>
            {% else %}
                <div class="btn-light">Не рассмотрено</div>
            {% endif %}
        </th>
    </tr>
{% endfor %}
</table>
Страницы:
{% if page_obj.has_previous %}
    <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
{% endif %}

{# Информация о текущей странице #}
{{ page_obj.number }}

{# Информация о следующих страницах #}
{% if page_obj.has_next %}
    <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
    {% if paginator.num_pages != page_obj.next_page_number %}
        ...
        <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
    {% endif %}
{% endif %}
{% endblock content %}