{% extends 'flatpages/default.html' %}

{% block cat %}
{% endblock cat %}

{% block headnews %}
{% endblock headnews %}
<!-- Отключение экранирования, чтобы не выводились html теги вместо видео -->

{% block content %}

resp_to_my_announce.html
<form action="" method="get">
    {{ filterset.form.as_p }}
    <input type="submit" value="Найти" />
</form>

{% if new_response|length == 0 %}
    <h2>Нет новых откликов!</h2>
Длина: {{ new_response|length }}
{% else %}
Длина: {{ new_response|length }}
    <table>
        <tr>
            <th>Отклик</th>
            <th>Объявление</th>
            <th>Принять/Удалить</th>
        </tr>
    {% for response in responses %}
        <tr>
            <th>{{ response }} </th>
            <th>{{ response.response_announcement }}</th>
            <th>
                {% if response.accepted == True %}
                    <div class="btn-success">Принято</div>
                {% else %}
                <form action="{% url 'my_responses' %}" method="GET">
                    <input class="btn-primary" type="submit" name="button" value="Принять">
                    <input type="hidden" name="resp_id" value="{{ response.id }}">
                </form>
                <form action="{% url 'my_responses' %}" method="GET">
                    <input class="btn-secondary" type="submit" name="button" value="Отклонить">
                    <input type="hidden" name="resp_id" value="{{ response.id }}">
                </form>
                {% endif %}
            </th>
        </tr>
    {% endfor %}
{% endif %}
</table>
{% endblock content %}